Aula1409.json
[
    {
        "id": "0ccd96ed8f8ec1ee",
        "type": "tab",
        "label": "Create",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6149f6562601740d",
        "type": "tab",
        "label": "Read",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c5a1ada5a397675",
        "type": "tab",
        "label": "Update",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4969e1d9b081f47c",
        "type": "tab",
        "label": "Delete",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "556c9a8486f12374",
        "type": "tab",
        "label": "Aula1409",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "196f41fbb0e0fb8c",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1ktz4lxoza3jin66m1crk4c80mcl83tih2dp98bc2hv:d22c76b55edaeea1c6aa6e6c6bdd81ec@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "milenaRios",
        "useapikey": false
    },
    {
        "id": "a2466b91c978aa8a",
        "type": "ibmiot",
        "name": "",
        "keepalive": "60",
        "serverName": "vghdhb.messaging.internetofthings.ibmcloud.com/dashboard/apps/browse/add",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "92c9cc39242c9963",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1sf2n1o95m2vpr2jfg0nc12cqd076yoyoopnhgjzuh5o:a7b29644e36c2dd9ed66686c4203c23b@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    },
    {
        "id": "7057321bcc267992",
        "type": "http in",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "url": "joseeliasCREATE",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "cd0088c9379e6ec1"
            ]
        ]
    },
    {
        "id": "4d0d9977c487137b",
        "type": "http response",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "cd0088c9379e6ec1",
        "type": "cloudantplus out",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1409bd",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "4d0d9977c487137b",
                "fd2ee6625636e0e2"
            ]
        ]
    },
    {
        "id": "fd2ee6625636e0e2",
        "type": "debug",
        "z": "0ccd96ed8f8ec1ee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "94018feecec11cb0",
        "type": "http in",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "url": "joseeliasCREATE2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "71f28fbddf5c97af"
            ]
        ]
    },
    {
        "id": "0fcdf31d100a1b30",
        "type": "http response",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "71f28fbddf5c97af",
        "type": "cloudantplus out",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd2",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 550,
        "y": 500,
        "wires": [
            [
                "0fcdf31d100a1b30",
                "f283828ac64b158d"
            ]
        ]
    },
    {
        "id": "f283828ac64b158d",
        "type": "debug",
        "z": "0ccd96ed8f8ec1ee",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "3fef8b3e3d1441bb",
        "type": "split",
        "z": "0ccd96ed8f8ec1ee",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "8b1f4acf7bdfdffa",
        "type": "http in",
        "z": "6149f6562601740d",
        "name": "",
        "url": "joseeliasREAD",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "861f1001fe043e36"
            ]
        ]
    },
    {
        "id": "77e5df47a54bb6a1",
        "type": "http response",
        "z": "6149f6562601740d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "861f1001fe043e36",
        "type": "cloudantplus in",
        "z": "6149f6562601740d",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1409bd",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "77e5df47a54bb6a1",
                "8ab47833ad8ecc65"
            ]
        ]
    },
    {
        "id": "8ab47833ad8ecc65",
        "type": "debug",
        "z": "6149f6562601740d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "959893c7016e821d",
        "type": "http in",
        "z": "6149f6562601740d",
        "name": "",
        "url": "joseeliasREAD2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "a913645c344920ef"
            ]
        ]
    },
    {
        "id": "439eee89ef507b28",
        "type": "http response",
        "z": "6149f6562601740d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "a913645c344920ef",
        "type": "cloudantplus in",
        "z": "6149f6562601740d",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd2",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "439eee89ef507b28",
                "bf3d292392e0f4cf"
            ]
        ]
    },
    {
        "id": "bf3d292392e0f4cf",
        "type": "debug",
        "z": "6149f6562601740d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "38c29b26cba46f22",
        "type": "http in",
        "z": "3c5a1ada5a397675",
        "name": "",
        "url": "joseeliasUPDATE",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "6e33d673bb592cd3"
            ]
        ]
    },
    {
        "id": "6f89a9e03dd922e8",
        "type": "http response",
        "z": "3c5a1ada5a397675",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e33d673bb592cd3",
        "type": "cloudantplus out",
        "z": "3c5a1ada5a397675",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "6f89a9e03dd922e8",
                "78bac5e6c43b384f"
            ]
        ]
    },
    {
        "id": "78bac5e6c43b384f",
        "type": "debug",
        "z": "3c5a1ada5a397675",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "ccc09dd723e124ac",
        "type": "http in",
        "z": "3c5a1ada5a397675",
        "name": "",
        "url": "joseeliasUPDATE2",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "799f4cb98e1f2044"
            ]
        ]
    },
    {
        "id": "ec7e4ef0f3a71216",
        "type": "http response",
        "z": "3c5a1ada5a397675",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "799f4cb98e1f2044",
        "type": "cloudantplus out",
        "z": "3c5a1ada5a397675",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd2",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "ec7e4ef0f3a71216",
                "b5cba89b677a6e4a"
            ]
        ]
    },
    {
        "id": "b5cba89b677a6e4a",
        "type": "debug",
        "z": "3c5a1ada5a397675",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "f4d42e96e28b45bc",
        "type": "http in",
        "z": "4969e1d9b081f47c",
        "name": "",
        "url": "joseeliasDELETE",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 1400,
        "wires": [
            [
                "8229230ad4f95cf0"
            ]
        ]
    },
    {
        "id": "e0af2cfbbb5ed50a",
        "type": "http response",
        "z": "4969e1d9b081f47c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1570,
        "y": 1400,
        "wires": []
    },
    {
        "id": "8229230ad4f95cf0",
        "type": "cloudantplus out",
        "z": "4969e1d9b081f47c",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 1310,
        "y": 1400,
        "wires": [
            [
                "e0af2cfbbb5ed50a"
            ]
        ]
    },
    {
        "id": "f361544e13ad7d0f",
        "type": "http in",
        "z": "4969e1d9b081f47c",
        "name": "",
        "url": "joseeliasDELETE",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "240c1d1ac5aad5f0"
            ]
        ]
    },
    {
        "id": "4fd022a37ad4c55b",
        "type": "http response",
        "z": "4969e1d9b081f47c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "89e725f0d1cfa9a4",
        "type": "cloudantplus out",
        "z": "4969e1d9b081f47c",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "4fd022a37ad4c55b",
                "3788d6d58b16d2f0"
            ]
        ]
    },
    {
        "id": "3788d6d58b16d2f0",
        "type": "debug",
        "z": "4969e1d9b081f47c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "240c1d1ac5aad5f0",
        "type": "split",
        "z": "4969e1d9b081f47c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "89e725f0d1cfa9a4"
            ]
        ]
    },
    {
        "id": "a4e5dc5163d918d6",
        "type": "http in",
        "z": "4969e1d9b081f47c",
        "name": "",
        "url": "joseeliasDELETE2",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "d99054ef727f38c0"
            ]
        ]
    },
    {
        "id": "a43a3bae7a5067ff",
        "type": "http response",
        "z": "4969e1d9b081f47c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "34a1ca9556fe2a76",
        "type": "cloudantplus out",
        "z": "4969e1d9b081f47c",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1309bd2",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "a43a3bae7a5067ff",
                "b1ce9e8dcf98a943"
            ]
        ]
    },
    {
        "id": "b1ce9e8dcf98a943",
        "type": "debug",
        "z": "4969e1d9b081f47c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "d99054ef727f38c0",
        "type": "split",
        "z": "4969e1d9b081f47c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "34a1ca9556fe2a76"
            ]
        ]
    },
    {
        "id": "53b31c6e32fe1155",
        "type": "watson-speech-to-text",
        "z": "556c9a8486f12374",
        "name": "Speech To Text",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": true,
        "password": "",
        "apikey": "bf6o7LOvNkaceVoAqoeAr2QVxZDNRNIYdmwRtZoL3EeQ",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/94b30845-fc72-43ce-8620-48aaf0439403",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "5bad29b7bbaf4b62"
            ]
        ]
    },
    {
        "id": "7f17b733381b380f",
        "type": "microphone",
        "z": "556c9a8486f12374",
        "name": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "53b31c6e32fe1155"
            ]
        ]
    },
    {
        "id": "5a461fee3d428509",
        "type": "comment",
        "z": "556c9a8486f12374",
        "name": "Turma da Tarde - Senac SP",
        "info": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "70041a6957040ca5",
        "type": "watson-text-to-speech",
        "z": "556c9a8486f12374",
        "name": "Text To Speech",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "tx23t1TmKSQzqTgY7ZZdAb4Gjl2z2uwbfF3lwZeZXmG3",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ec9a1380-4e6b-4eb3-8a95-f02051d840d3",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "e77a9aa2860a442f"
            ]
        ]
    },
    {
        "id": "09884da81831ce58",
        "type": "inject",
        "z": "556c9a8486f12374",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ja pode almoçar",
        "payloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "70041a6957040ca5"
            ]
        ]
    },
    {
        "id": "e77a9aa2860a442f",
        "type": "play audio",
        "z": "556c9a8486f12374",
        "name": "",
        "voice": "74",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "5bad29b7bbaf4b62",
        "type": "debug",
        "z": "556c9a8486f12374",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "20d61132f6c00758",
        "type": "watson-translator",
        "z": "556c9a8486f12374",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "zyx4Fs13052i-oePv5KEHuni77jg0TgdXwj-6D1kO-6n",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e3f13159-cfa3-45ab-86f5-2a753deb3748",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "6934fd0eaf206a06"
            ]
        ]
    },
    {
        "id": "9f446476dcc41079",
        "type": "watson-speech-to-text",
        "z": "556c9a8486f12374",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": true,
        "password": "",
        "apikey": "IXevAqveijDMKy6lFyQ8XpGAOShBf5MIHFxJicMqmv_h",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/119fb6d0-182f-42ee-a261-9410ae3651b3",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "20d61132f6c00758"
            ]
        ]
    },
    {
        "id": "07db39bdffb7c7ac",
        "type": "microphone",
        "z": "556c9a8486f12374",
        "name": "Traduzir PT-ES",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "9f446476dcc41079"
            ]
        ]
    },
    {
        "id": "6934fd0eaf206a06",
        "type": "watson-translator",
        "z": "556c9a8486f12374",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "apikey": "zyx4Fs13052i-oePv5KEHuni77jg0TgdXwj-6D1kO-6n",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e3f13159-cfa3-45ab-86f5-2a753deb3748",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "da3268d9bedd7181"
            ]
        ]
    },
    {
        "id": "95cc91fbf771e86b",
        "type": "microphone",
        "z": "556c9a8486f12374",
        "name": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "7f4f3e19b7573b2b"
            ]
        ]
    },
    {
        "id": "98f4bdd507eafa1f",
        "type": "debug",
        "z": "556c9a8486f12374",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "bdb440098f9ec3d3",
        "type": "function",
        "z": "556c9a8486f12374",
        "name": "function 1",
        "func": "\nvar outputMsgs = [];\nvar words = msg.payload.split(\" \");\n\nfor (var w in words) {\n    outputMsgs.push({ payload: words[w]});\n}\n\nif (outputMsgs[0].payload === \"nove\") {\nvar saida = []\nfor (let i = 0; i < 10; i++) {\n    saida.push({ payload: \"batata\" });\n}\n}\nreturn [saida];\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "98f4bdd507eafa1f"
            ]
        ]
    },
    {
        "id": "7f4f3e19b7573b2b",
        "type": "watson-speech-to-text",
        "z": "556c9a8486f12374",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": true,
        "password": "",
        "apikey": "IXevAqveijDMKy6lFyQ8XpGAOShBf5MIHFxJicMqmv_h",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/119fb6d0-182f-42ee-a261-9410ae3651b3",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "bdb440098f9ec3d3"
            ]
        ]
    },
    {
        "id": "4fd673bd9168c945",
        "type": "http response",
        "z": "556c9a8486f12374",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "da3268d9bedd7181",
        "type": "cloudantplus out",
        "z": "556c9a8486f12374",
        "name": "",
        "cloudant": "92c9cc39242c9963",
        "database": "jose1409bd",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 810,
        "y": 520,
        "wires": [
            [
                "4fd673bd9168c945",
                "ee709ac71025518d"
            ]
        ]
    },
    {
        "id": "ee709ac71025518d",
        "type": "debug",
        "z": "556c9a8486f12374",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    }
]